.skills {
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(130 20 164),
    rgb(65 21 186),
    rgb(33 23 61)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  gap: 3rem;
}
.skills__container {
  height: auto;
  background: linear-gradient(45deg, #00000057, transparent);
  box-shadow: 0 10px 10px rgb(126 15 255 / 20%), 0 0 22px rgb(149 0 243);
  /* background: var(--background-color); */
  background: linear-gradient(
    to right,
    var(--background-color),
    var(--primary-color)
  );
}
.skills__categories {
  display: flex;
  justify-content: space-around;
  height: 7rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
.category {
  font-size: var(--lg);
  color: var(--soft-purple);
  padding-bottom: 0.5rem;
}
.category-active {
  border-bottom: solid 2px var(--primary-color);
  color: var(--primary-color);
}
.skills__logo-container {
  height: 5rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.skill__icons-color {
  fill: var(--soft-purple);
  width: 5rem;
}
.skill__icons-color:nth-child(1) {
  fill: url(#gradient);
  filter: drop-shadow(0.35px 3.35px 3px #0aa2e7);
}
.skill__icons-color--active {
  color: var(--primary-color);
}
