.project-item {
  width: 100%;
  position: relative;
  border: solid 2px var(--primary-color);
  height: auto;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 15px var(--primary-color);
}

.project-image {
  width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.project-description__title {
  font-size: var(--xl);
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.project-description__resume {
  font-size: var(--lg);
  line-height: 1.2;
}
.project-links {
  display: none;
  justify-content: space-between;
  gap: 1rem;
}
.icon-container {
  text-align: center;
  display: none;
}
.icon-container svg {
  width: 4rem;
  fill: var(--soft-purple);
}
.project-links a {
  font-size: var(--md);
  padding: 2rem 0;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  min-width: 4rem;
  text-align: center;
}
.project-description:hover > .project-links {
  display: flex;
}
.project-description:hover > .icon-container {
  display: block;
}
@media (max-width: 425px) {
  .project-links a {
    font-size: var(--sm);
  }
}
.project-links a:nth-child(1) {
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}
.project-links a:nth-child(2) {
  color: var(--soft-purple);
  border: solid 2px var(--soft-purple);
}
