.nav-page {
  display: flex;
  justify-content: space-evenly;
}
.nav-page li a {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: var(--lg);
  margin-right: 2rem;
}

.nav-page li a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .nav-page {
    display: none;
  }
}

.nav-page-active {
  display: flex;
}

@media (max-width: 768px) {
  .nav-page-active {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
