:root {
  /* Fonts  */
  --main-font: "Helvetica Neue", Arial, Helvetica;
  --secondary-font: "Roboto";
  /* Colors */
  --primary-color: #9500ff;
  --background-color: #1e0033;
  --secondary-color: rgb(241, 239, 239);
  /* Sizes */
  --sm: 1.2rem;
  --md: 1.6rem;
  --lg: 2rem;
  --xl: 2.4rem;
  --xxl: 2.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .icon-tabler-menu-2 {
    display: none;
  }
}
