.header {
  background-color: var(--background-color);
  border-bottom: 3px solid var(--primary-color);
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}
span {
  color: var(--secondary-color);
  font-size: var(--xl);
}
span strong {
  color: var(--primary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
ul li a {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: var(--lg);
  margin-right: 2rem;
}

ul li a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  ul {
    display: none;
  }
}
