.header {
  background-color: var(--background-color);
  border-bottom: 3px solid var(--primary-color);
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.header__nav a {
  transform: scale(1.2);
  transition: transform 1s ease;
}
.header__nav a:active {
  transform: scale(1.8);
}
@media (max-width: 768px) {
  .header__nav a {
    padding: 0 1rem;
  }
}

span {
  color: var(--secondary-color);
  font-size: var(--xl);
}
span strong {
  color: var(--primary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-icon {
  z-index: 1;
}
@media (min-width: 768px) {
  .close-icon {
    display: none;
  }
}
