.header {
  background-color: var(--background-color);
  border-bottom: 3px solid var(--primary-color);
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
span {
  color: var(--secondary-color);
  font-size: var(--xl);
}
span strong {
  color: var(--primary-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
