#footer {
  padding: 4rem 0;
}
.contact-info {
  display: flex;
  justify-content: space-around;
}
.contact-info .location,
.contact-info .email {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.contact-info .location span,
.contact-info .email span {
  font-size: var(--sm);
  letter-spacing: 1px;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.resume-info {
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
}
.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--secondary-color);
}
.about-me h6,
.portfolio h6,
.latest-projects h6 {
  font-size: var(--lg);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
}
.about-me p {
  font-size: var(--md);
}
.latest-projects,
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.latest-projects__container,
.resume-info .portfolio__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: space-between;
}
.latest-projects__container span,
.portfolio__container span {
  font-size: var(--md);
}
.social-media {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}
.social-media__container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.social-icon {
  width: 3rem;
  fill: var(--soft-purple);
  cursor: pointer;
}
