.error-message {
  text-align: center;
}
.error-message span {
  color: firebrick;
  font-size: var(--md);
  text-transform: initial;
}
.success-message span {
  color: var(--primary-color);
  font-size: var(--md);
  text-transform: initial;
}
